//
//  Development.Release.xcconfig
//  <%= project_name %>
//
//  Created by <%= author %> on <%= Time.now.strftime("%-m/%-d/%y") %>
//  Copyright (c) <%= Time.now.strftime('%Y') %> <%= company %>. All rights reserved.
//

#include "../../../../../xcconfigs/Base/Configurations/Release.xcconfig"
#include "../../../../../xcconfigs/iOS/iOS-Application.xcconfig"

#include "Pods/Target Support Files/Pods/Pods.release.xcconfig"

#include "../Environment/Development.xcconfig"

#include "../Global/Warning.xcconfig"
