//
//  Production.Debug.xcconfig
//  <%= project_name %>
//
//  Created by <%= author %> on <%= Time.now.strftime("%-m/%-d/%y") %>
//  Copyright (c) <%= Time.now.strftime('%Y') %> <%= company %>. All rights reserved.
//

#include "../../../../../xcconfigs/Base/Configurations/Debug.xcconfig"
#include "../../../../../xcconfigs/iOS/iOS-Application.xcconfig"

#include "Pods/Target Support Files/Pods/Pods.debug.xcconfig"

#include "../Environment/Production.xcconfig"

#include "../Global/Shared.Debug.xcconfig"

#include "../Global/Warning.xcconfig"
