//
//  Production.xcconfig
//  <%= project_name %>
//
//  Created by <%= author %> on <%= Time.now.strftime("%-m/%-d/%y") %>
//  Copyright (c) <%= Time.now.strftime('%Y') %> <%= company %>. All rights reserved.
//

#include "../Global/Environment.xcconfig"

BUNDLE_IDENTIFIER = <%= company_identifier %>.<%= project_name %>;
BUNDLE_DISPLAY_NAME = <%= project_name %>;

KZBEnv = '@"Production"';
