//
//  Quality.Release.xcconfig
//  <%= project_name %>
//
//  Created by <%= author %> on <%= Time.now.strftime("%-m/%-d/%y") %>
//  Copyright (c) <%= Time.now.strftime('%Y') %> <%= company %>. All rights reserved.
//

#include "../Release/Development.Release.xcconfig"
#include "../Global/Shared.Quality.xcconfig"
