//
//  Shared.Test.xcconfig
//  <%= project_name %>
//
//  Created by <%= author %> on <%= Time.now.strftime("%-m/%-d/%y") %>
//  Copyright (c) <%= Time.now.strftime('%Y') %> <%= company %>. All rights reserved.
//

#include "../../../../../xcconfigs/Base/Configurations/Test.xcconfig"
#include "../../../../../xcconfigs/iOS/iOS-Application.xcconfig"

//#include "Pods/Target Support Files/Pods/Pods.debug.xcconfig"
#include "Pods/Target Support Files/Pods-<%= project_name %>Tests/Pods-<%= project_name %>Tests.debug.xcconfig"

#include "../Environment/Development.xcconfig"
